// RESPONSIVE
$break-small: 360px;
$break-480: 480px;
$break-640: 640px;
$break-767: 767px;
$break-mobile: 768px;
$break-1023: 1023px;
$break-tablet: 1024px;
$break-desktop: 1200px;
$break-large: 1900px; // RESPONSIVE BASE
$base-desktop: 1300; // SITE
$site-min-width: 280px;
$site-max-width: 1130px;
$site-padding: 0;
$site-padding-desktop: 20px;
$site-padding-tablet: 20px;
$site-padding-mobile: 20px; 

// COLORS
$color-black: #000000;
$color-bg-dark: #121212;
$color-darkGrey-new: #838383;
$color-red: #e7534f;
$color-light-grey: #e1e1e1;
$color-red-hover: #f07470;
$color-pink: #FDF1F1;
$color-darkGrey: #404040;
$color-lightGrey: #f6f4f0;
$color-lightest: #fafafa;
$color-sandstone: #e4d3c9;
$color-lightSandstone: #f2eae5;
$color-jam: #d02139;
$color-white: #fff;
$color-tertiary-black: #222222;

// NEW COLOURS
$color-dark-grey: #5f5f5f;
$color-background-light-grey: #f8f8f8;
$color-secondary-light-grey: #f8f8f8;
$color-medium-grey: #9a9a9a;
$color-medium-light-grey: #e4e4e4;
$color-dark-grey: #5f5f5f;
$color-light-grey: #e1e1e1;
$color-text-white: #eaeaea;
$color-secondary-light-grey: #f8f8f8;
$color-medium-light-grey: #e4e4e4;
$color-medium-grey: #9a9a9a;
$color-pink: #fdf1f1;
$color-tertiary-black: #222222;

$color-background-light-grey: #f8f8f8;
$color-background-medium-light-grey: #e4e4e4;
$color-background-medium-grey: #9a9a9a;
$color-background-dark-grey: #5f5f5f;
$color-background-pink: #fdf1f1;
$color-background-black: #121212;
$color-background-placeholders: #bdbdbd;

// old variables
$color-green: #004102;
$color-dark: #000000;
$color-lightGreen:#e4f0e1;
$color-light:#e4f0e1;
$color-brown: #8a7860;

$color-main: #fff;
$color-darkBlue: #005d87;
$color-lightBlue: #3db7e4;
$color-footerBlue: #8fcae7;
$color-valid: $color-dark;
$color-invalid: $color-light;
$color-bg: #fff;
$color-body: #000;
$color-menu: #fff;
$color-link: $color-body;
$color-link-hover: $color-body;
$color-placeholder: $color-darkGrey; // FONTS
$font-neue: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-base: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-main: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-medium: 'Helvetica Neue Medium', 'Helvetica', 'Arial', sans-serif;
$font-bold: 'Helvetica Neue Bold', 'Helvetica', 'Arial', sans-serif;
$font-alt: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-light: 'Helvetica Neue', 'Arial', sans-serif;
$font-icon: 'icons';
$font-size: 14px;
$font-weight: normal;
$line-height: 26px;
$text-align: left;
$input-transform: uppercase; // TRANSITIONS
$transition: 500ms; // SELECTIONS
$selection-bg: $color-red;
$selection-color: #000; // OVERLAY
$overlay-bg: rgba(#1d1d1b, 0.55);
